# Ignore node_modules (they get reinstalled inside Docker)
node_modules

# Ignore logs
*.log

# Ignore build output
dist

# Ignore local environment files except production
.env*
!.env.production

# Editor & OS-specific files
.DS_Store
.vscode
.idea
*.swp
